/* styles.css */
.transition-slide-enter {
    opacity: 0;
    transform: translate-x-full;
}

.transition-slide-enter-active {
    opacity: 1;
    transform: translate-x-0;
    transition: opacity 500ms, transform 500ms;
}

.transition-slide-exit {
    opacity: 1;
    transform: translate-x-0;
}

.transition-slide-exit-active {
    opacity: 0;
    transform: translate-x-full;
    transition: opacity 500ms, transform 500ms;
}